.dogimg {
    position: absolute;
    top: 11.5rem;right: 0;
}
.dogimg img{
    width: 100%;
    height: 40rem;
    border-radius:50% 20% 0;
    opacity: .8;
    object-fit: cover;
}

.myimage{
    position: absolute;
}
/* what we do section */
.whatwedo{
    text-align: center;
}
.whatwedo .main{
    margin: 3rem 3rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #3F073e;
}
.whatwedo .work{
    text-align: center;
    /* border: 1px solid black; */
}
.whatwedo .work .head{
    border: 1.5rem solid #ecb30a;
    width: 15rem;height: 15rem;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 .3rem;
    box-shadow: 0 0 .3rem wheat;
    position: relative;
    left: 2rem;
}
/* .whatwedo .work .head::before{
    content: '';
    background: blue;
    width: 0;height: 100%;
    position: absolute;
    left: 0;right: 3rem;
}
.whatwedo .work .head::before:hover{
    width: 100%;
} */
.whatwedo .work .head:hover div{
    transform: scale(1.1);
}
.whatwedo .work .head div{
    margin-bottom: 1rem;
}
.whatwedo .work .head div i{
    font-size: 4rem;
    margin-bottom: .2rem;
    color: #ecb30a;
}
.whatwedo .work .head div h2{
    font-weight: 100;
    min-height: 1.5rem;
}

.whatwedo .content{
    border-right: 1.5rem solid #ecb30a;
    border-left: 1.5rem solid #ecb30a;
    border-radius: 70% 70% 1rem 1rem;
    margin-bottom: 1.5rem;
    position: relative;
    bottom: 1.5rem;
    overflow: hidden;
}
.whatwedo .content .bb{
    padding: 2rem .6rem ;
}
.whatwedo .content .num{
    font-size: 4rem;
    color: #4d3a04;
    /* border-bottom: 1px solid black; */
}
.whatwedo .content h2{
    font-weight: 200;
}

.whatwedo .content .text{
    margin-top: 1rem;
    color: rgb(0, 0, 0);
}






.whatwedo .text p{
    
    display: block;
    line-height: 1.5rem;
}

























.about{
    text-align: center;
    /* background: #eee; */
    margin: 0 9rem 2rem;
    border-radius: 2rem;
    padding: 2rem 0;

}
.about a{
    font-size: 4rem;
    color: #3F073e;
}

.about .person{
    position: relative;
    margin-top: 5rem;
}
.about .our{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    
}
.about .our .ct{
    margin: 0rem 2rem;
    background: wheat;
    height: 18rem;
    border-radius: 1rem;
    padding-top: 6rem;
}
p{
    width: 15rem;
}
.about .our .ct .name{
    font-size: 26px;
    color: #3F073e;
    margin: 5px 0;
}
.about .our .ct .task{
    color: #ecb30a;
}
.about .our .ct .text{
    margin-top: 1rem;
    font-size: 13px;
}
.about .our .ct .icons {
    background: #ecb30a;
    margin-top: 2rem;
    padding: .5rem;
    border-radius:0 0 1rem 1rem;
}
.about .our .ct .icons a{
    text-decoration: none;
    font-size: 25px;
    margin: 0 1rem ;

}
.about .our .ct .icons a:hover{
    transform: scale(1.2);
    color: #eee;
}
.about .img{
    position: absolute;
    top: -5rem;
    right: 4.5rem;
    background: #ecb30a;
    padding: .1rem;
    border-radius: 50%;
}
img{

    
    width: 10rem;height: 10rem;
    border-radius: 50%;
    box-shadow: 0 0 .3 black;
    object-fit: cover;
}


@media (max-width:1350px){
    .about{
        margin: 0 0rem 2rem;  
    }
    h1{
        font-size: 40px;
    }
}

@media (max-width:680px){
    *{
        font-size: 3vw;
    }
    .about .our .ct .icons {
        margin-top: 4rem;
    }
    h1{
        font-size: 40px;
    }
}
@media (max-width:500px){
    *{
        font-size: 3.5vw;
    }
    .about .our .ct .icons {
        margin-top: 2.5rem;
    }
    h1{
        font-size: 40px;
    }
}